html {
  background-color:beige;
  font-family:'Roboto', sans-serif;
}

body {
  margin :0
}

header {
  padding:12px;
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 24px;
}

footer {
  background-color:burlywood;
  margin-top :24px;
  padding:24px;
  display: grid;
  grid-template-columns: 3fr 2.5fr;
  align-items: center;

}

main {
  max-width :800px;
  margin:auto
}

input {
  border:1px solid darkgray;
  border-radius:4px;
  padding:12px
  }

textarea {
  border:1px solid darkgray;
  border-radius:4px;
  padding:12px;
  height:100px
  }

button {
  padding:12px;
  font-size:110%
  }

.main-page-book-review {
  background-color:white;
  border :1px solid lightblue;
  padding:24px;
  display: grid;
  grid-template-columns: 1fr 2fr;

}

.detail-page-book-review {
  background-color:white;
  padding:24px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.book-review-form {
  background-color:white;
  padding:24px;

}

.book-cover {
  width :80%;
  height :auto;
  grid-row-end: span 5;

}

.book-title {
  font-weight :bold;
  font-size :150%;
  margin-top: 0px;
}

.book-rating {
  font-size:125%
}

.book-authors {
  color:dimgray
}
